<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create Discography</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{../styles.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="content">
    <div class="container-fluid p-0">
        <form action="#" th:action="@{/editor/addDiscography}" th:object="${discography}" method="post">

            <div class="row no-gutters">
                <div class="col col-1">
                    <div th:replace="fragments/sidebar :: sidebar"></div>
                </div>

                <div class="col col-2 ml-3 mt-3">
                    <div class="form-group">
                        <label for="discographyTitle">Title</label>
                        <input type="text" class="form-control" th:field="*{title}"
                               id="discographyTitle"
                               placeholder="Title">
                        <span th:if="${#fields.hasErrors('title')}"
                              th:errors="*{title}"></span>
                    </div>

                    <div class="form-group">
                        <label for="discographyLabel">Label</label>
                        <input type="text" class="form-control" th:field="*{label}"
                               id="discographyLabel"
                               placeholder="Label">
                        <span th:if="${#fields.hasErrors('label')}"
                              th:errors="*{label}"></span>
                    </div>

                    <div class="form-group">
                        <label for="discographyRecordId">Record Id</label>
                        <input type="text" class="form-control" th:field="*{recordId}"
                               id="discographyRecordId"
                               placeholder="Record Id">
                        <span th:if="${#fields.hasErrors('recordId')}"
                              th:errors="*{recordId}"></span>
                    </div>

                    <div class="form-group">
                        <label for="dateOfPublishing">Date of Publishing</label>
                        <input type="text" class="form-control" th:field="*{dateOfPublishing}"
                               id="dateOfPublishing"
                               placeholder="Date of Publishing">
                        <span th:if="${#fields.hasErrors('dateOfPublishing')}"
                              th:errors="*{dateOfPublishing}"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</div>
</body>
</html>