<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Incipit</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/styles.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="content">
    <div class="container-fluid p-0">
        <form action="#" th:action="@{/editor/updateIncipit/{id} (id=${incipit.id})}" th:object="${incipit}"
              method="post">

            <div class="row no-gutters">
                <div class="col col-1">
                    <div th:replace="fragments/sidebar :: sidebar"></div>
                </div>

                <div class="col col-2 ml-3 mt-3">
                    <div class="form-group">
                        <label for="clef">Clef</label>
                        <input type="text" class="form-control" th:field="*{clef}" id="clef"
                               placeholder="Clef">
                        <span th:if="${#fields.hasErrors('clef')}" th:errors="*{clef}"></span>
                    </div>

                    <div class="form-group">
                        <label for="keysig">Key Signature</label>
                        <input type="text" class="form-control" th:field="*{keysig}" id="keysig"
                               placeholder="Key Signature">
                        <span th:if="${#fields.hasErrors('keysig')}" th:errors="*{keysig}"></span>
                    </div>

                    <div class="form-group">
                        <label for="timesig">Time Signature</label>
                        <input type="text" class="form-control" th:field="*{timesig}" id="timesig"
                               placeholder="Time Signature">
                        <span th:if="${#fields.hasErrors('timesig')}" th:errors="*{timesig}"></span>
                    </div>

                    <div class="form-group">
                        <label for="score">Score</label>
                        <input type="text" class="form-control" th:field="*{score}" id="score"
                               placeholder="Score">
                        <span th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></span>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" th:field="*{description}" id="description"
                               placeholder="Description">
                        <span th:if="${#fields.hasErrors('description')}"
                              th:errors="*{description}"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Edit</button>

                </div>
            </div>
        </form>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</div>
</body>
</html>