<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Wolfgang Gabriel - Digital Thematic Catalog ist part of the Master-Thesis: <br/> Digital Thematic
                Catalogues - Software Architecture and Reference Implementation <br/> The source code is available on <a
                        href="https://github.com/MaximilianKopp/Digital-Thematic-Catalogues-Master-Thesis"
                        target="_blank">GitHub</a>
            </small>
        </div>
    </footer>
</div>