<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
</head>
<div th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org">
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-dark border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="/search" class="list-group-item list-group-item-action text-black bg-light "><span class="fa fa-search"></span>Search</a>
                <a href="/works" class="list-group-item list-group-item-action text-black bg-light"><span class="fa fa-scroll"></span>Compositions</a>
                <a href="/incipits" class="list-group-item list-group-item-action text-black bg-light"><span class="fa fa-music"></span>Incipits</a>
                <a href="/literature" class="list-group-item list-group-item-action text-black bg-light"><span class="fa fa-book-open"></span>Literature</a>
                <a href="/texts" class="list-group-item list-group-item-action text-black bg-light"><span class="fa fa-pen-fancy"></span>Texts</a>
                <a href="/places" class="list-group-item list-group-item-action text-black bg-light"><span class="fa fa-map"></span>Places</a>
                <a href="/discography" class="list-group-item list-group-item-action text-black bg-light"><span class="fa fa-compact-disc"></span>Discography</a>
                <a href="/persons" class="list-group-item list-group-item-action text-black bg-light"><span class="fa fa-users"></span>Persons</a>
                <a href="/statistics" class="list-group-item list-group-item-action text-black bg-light"><span class="fa fa-chart-pie"></span>Statistics</a>
                <a href="/" class="list-group-item list-group-item-action text-black bg-light"><span class="fa fa-address-card"></span>Biography</a>
                <a href="/swagger-ui/" target="_blank" class="list-group-item list-group-item-action text-black bg-light"><span class="fa fa-globe"></span>Api</a>
            </div>
        </div>
    </div>
</div>