<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of References</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{../styles.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-lg-2">
            <div th:replace="fragments/sidebar :: sidebar"></div>
        </div>
        <div class="col-lg-10">
            <table id="works" class="table table-bordered table-responsive-sm">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Label</th>
                    <th>Record Id</th>
                    <th>Date of publishing</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="discography : ${discographies.page}">
                    <td><a href="index.html" th:href="@{'record/?id=' + ${discography.id}}"
                           th:text="${discography.title}"></a></td>
                    <td th:text="${discography.label}">id</td>
                    <td th:text="${discography.recordId}">title</td>
                    <td th:text="${discography.dateOfPublishing}">body</td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${discographies.page.totalPages > 1}">
                    <li class="page-item">
                        <a class="page-link" th:href="@{'?pageNumber=' + ${discographies.paging.pageNumber - 1}}"
                           tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="item : ${discographies.paging.getItems()}">
                        <li class="page-item"
                            th:classappend="${item.index == discographies.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{'?pageNumber=' + ${item.index}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{'?pageNumber=' + ${discographies.paging.pageNumber + 1}}">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>