<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of Incipits</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{../styles.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <script src="http://www.verovio.org/javascript/latest/verovio-toolkit.js"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-lg-2">
            <div th:replace="fragments/sidebar :: sidebar"></div>
        </div>
        <div class="col-lg-10">
            <table id="works" class="table table-bordered table-responsive-sm">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="incipit : ${incipits.page}">
                    <td><a href="index.html" th:href="@{'incipit/?id=' + ${incipit.id}}"
                           th:text="${incipit.description}"></a></td>
                    <td th:text="${incipit.description}">id</td>
                    <td class="svg_output">
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${incipits.page.totalPages > 1}">
                    <li class="page-item">
                        <a class="page-link" th:href="@{'?pageNumber=' + ${incipits.paging.pageNumber - 1}}"
                           tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="item : ${incipits.paging.getItems()}">
                        <li class="page-item"
                            th:classappend="${item.index == incipits.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{'?pageNumber=' + ${item.index}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link" th:href="@{'?pageNumber=' + ${incipits.paging.pageNumber + 1}}">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>

<script type="text/javascript" th:inline="javascript">

    var vrvToolkit = new verovio.toolkit();
    var zoom = 20;
    var pageHeight = 100;
    var pageWidth = 100;

    function setOptions() {

        pageHeight = $(document).height();
        pageWidth = $(window).width();
        options = {
            pageHeight: pageHeight,
            pageWidth: pageWidth,
            scale: zoom,
            adjustPageHeight: true
        };
        vrvToolkit.setOptions(options);
    }

    function loadData() {
        setOptions();
        /*[# th:each="incipit : ${incipits.page}"]*/
        var clef = /*[[${incipit?.clef}]]*/ 'default';
        var keysig = /*[[${incipit?.keysig}]]*/ 'default';
        var timesig = /*[[${incipit?.timesig}]]*/ 'default';
        var score = /*[[${incipit?.score}]]*/ 'default';
        var data = "@clef:" + clef + "\n" + "@keysig:" + keysig + "\n" + "@timesig:" + timesig + "\n" + "@data:" + score;
        vrvToolkit.loadData(data);
        svg = vrvToolkit.renderToSVG(1, {});
        $(".svg_output").html(svg);
        /*[/]*/
    }

    $(document).ready(function () {
        $.ajax({
            dataType: "text"
            , success: function (data) {
                loadData(data);
            }
        });
    });
</script>

</body>
</html>