<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of Compositions</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{../styles.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-lg-2">
            <div th:replace="fragments/sidebar :: sidebar"></div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>