<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Composition</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="http://www.verovio.org/javascript/latest/verovio-toolkit.js"></script>
    <link th:rel="stylesheet" th:href="@{../styles.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="content">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col col-1">
                <div th:replace="fragments/sidebar :: sidebar"></div>
            </div>
            <div class="col col-4 ml-3 mt-3">
                <h4>Composition</h4>
                <table class="table table-bordered table-responsive-sm table-hover small">
                    <tbody>
                    <tr>
                        <th>Title: <a href="workdetails.html" th:href="@{/works}"
                                      class="fas fa-arrow-alt-circle-left fa-lg"></a></th>
                        <td th:text="${work?.title}"></td>
                    </tr>
                    <tr>
                        <th>Incipit: <a href="workdetails.html" th:href="@{'../incipit?id='+ ${work?.incipit?.id}}"
                                        class="fas fa-arrow-alt-circle-right fa-lg"></a></th>
                        <td class="svg_output">
                    </tr>
                    <tr>
                        <th>Opus:</th>
                        <td th:text="${work?.opus}"></td>
                    </tr>
                    <tr>
                        <th>Date of Creation:</th>
                        <td th:text="${work?.dateOfCreation}"></td>
                    </tr>
                    <tr>
                        <th>Date of Premiere:</th>
                        <td th:text="${work?.dateOfPremiere}"></td>
                    </tr>
                    <tr>
                        <th>Place of Premiere:</th>
                        <td th:text="${work?.placeOfPremiere?.title}"></td>
                    </tr>
                    <tr>
                        <th>Locality:</th>
                        <td th:text="${work?.placeOfPremiere?.locality}"></td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td th:text="${work?.placeOfPremiere?.country}"></td>
                    </tr>
                    <tr>
                        <th>Commentary:</th>
                        <td th:text="${work?.commentary}"></td>
                    </tr>
                    <tr>
                        <th>Dedication:</th>
                        <td th:text="${work?.dedication}"></td>
                    </tr>
                    <tr>
                        <th>Formation:</th>
                        <td th:text="${work?.instrumentation}"></td>
                    </tr>
                    <tr>
                        <th>Category:</th>
                        <td th:text="${work?.category}"></td>
                    </tr>
                    <tr>
                        <th>Duration:</th>
                        <td th:text="${work?.duration}"></td>
                    </tr>
                    <tr>
                        <th>Author:</th>
                        <td th:text="${work?.relatedText?.author}"></td>
                    </tr>
                    <tr>
                        <th>Excerpt:</th>
                        <td th:text="${work?.relatedText?.excerpt}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col col-3 mt-3 ml-2">
                <h4>Records</h4>
                <table class="table table-bordered table-responsive-sm table-hover small">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Label</th>
                        <th>Published</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="record : ${work?.discographies}">
                        <td><a href="discographydetails.html" th:href="@{'record?id='+ ${record?.id}}"
                               th:text="${record?.title}"></a></td>
                        <td th:text="${record?.label}"></td>
                        <td th:text="${record?.dateOfPublishing}"></td>
                    </tr>
                    </tbody>
                </table>
                <h4>Persons</h4>
                <table class="table table-bordered table-responsive-sm table-hover small">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>PND</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="person : ${work?.relatedPersons}">
                        <td><a href="persons.html" th:href="@{'person?id='+ ${person?.id}}"
                               th:text="${person?.title}"></a></td>
                        <td th:text="${person?.pnd}"></td>
                        <td th:text="${person?.role}"></td>
                    </tr>
                    </tbody>
                </table>
                <h4>References</h4>
                <table class="table table-bordered table-responsive-sm table-hover small">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>ISBN</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reference : ${work?.relatedLiterature}">
                        <td><a href="persons.html" th:href="@{'reference?id='+ ${reference?.id}}"
                               th:text="${reference?.title}"></a></td>
                        <td th:text="${reference?.isbn}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col col-3 mt-3 ml-2">
                <h4>Locality</h4>
                <div id="map">
                    <script th:inline="javascript">

                        var longitude = /*[[${work?.placeOfPremiere?.coordinates?.longitude}]]*/ 'default';
                        var latitude = /*[[${work?.placeOfPremiere?.coordinates?.latitude}]]*/ 'default';
                        var map = new L.map('map').setView([longitude, latitude], 18)
                        var layer = new L.TileLayer('https://api.maptiler.com/maps/streets/256/{z}/{x}/{y}.png?key=LObS2t5fDJqjqBxJS6Q7', {
                            attribution: '<a href="https://www.maptiler.com/copyright/" ' + 'target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>'
                        }).addTo(map);

                        var marker = new L.marker([longitude, latitude]).addTo(map);
                    </script>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>

<script type="text/javascript" th:inline="javascript">

    var vrvToolkit = new verovio.toolkit();
    var zoom = 20;
    var pageHeight = 100;
    var pageWidth = 100;

    function setOptions() {

        pageHeight = $(document).height();
        pageWidth = $(window).width();
        options = {
            pageHeight: pageHeight,
            pageWidth: pageWidth,
            scale: zoom,
            adjustPageHeight: true
        };
        vrvToolkit.setOptions(options);
    }

    function loadData() {
        setOptions();
        var clef = /*[[${work?.incipit?.clef}]]*/ 'default';
        var keysig = /*[[${work?.incipit?.keysig}]]*/ 'default';
        var timesig = /*[[${work?.incipit?.timesig}]]*/ 'default';
        var score = /*[[${work?.incipit?.score}]]*/ 'default';
        var data = "@clef:" + clef + "\n" + "@keysig:" + keysig + "\n" + "@timesig:" + timesig + "\n" + "@data:" + score;
        vrvToolkit.loadData(data);
        svg = vrvToolkit.renderToSVG(1, {});
        $(".svg_output").html(svg);
    }

    $(document).ready(function () {
        $.ajax({
            dataType: "text"
            , success: function (data) {
                loadData(data);
            }
        });
    });
</script>

</body>
</html>